html,body,div,span,applet,object,iframe,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body 	{ 	line-height: 1;
			font-family: 'Ubuntu', sans-serif;
			font-size: 13px; 
			width: 100%; 
			height: 100%; 
			color: #000; 
			line-height: 18px
		}
.clear { 
			clear: both;
		}

#wrapper { 	
			margin: 0 auto;
			width: 1000px;			
		}
#wrapper a {
			text-decoration: none;
			color: #0088CC; 
			}
#wrapper span.highlight { 
			color: #0088CC; 
			}

#header 	{ 
			border-bottm: 1px solid #ccc;
			margin-bottom: 20px; 
			background: url("../img/patron1.png") ;
			
			}
#header .top { 
			border-bottom: 1px solid #ccc; margin-bottom: 10px; 
			}
#header ul.navigation { 
			list-style: none;
			text-align: right; 
			background-color: #08C; 
			background-image: -moz-linear-gradient(center top , #6EACCB, #08C); 
			background-repeat: repeat-x; 
			border-radius: 4px 4px 4px 4px;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset; 
			padding-left: 20px;
			padding-right: 560px
			}
#header .navigation li { 
			display: inline
			}
#header .navigation li a { 
			display: inline-block;  
			border-left: 1px solid #7BAAD9;
			border-right: 1px solid #2D649C;
			float: none; 
			line-height: 19px; 
			padding: 10px 10px 11px;  
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
			}
#header .navigation li a:hover {    
			background-color: rgba(0, 0, 0, 0.2);
			color: #FFFFFF;
			text-decoration: none
			}
#header .navigation li span {
			color: #FFFFFF;
			display: block;
			float: left;
			font-size: 20px;
			font-weight: 200;
			line-height: 1;
			margin-left: -20px; 
			padding: 8px 20px 12px
			}
#header h2 { 
			font-family: 'Irish Grover', cursive; 
			font-size: 92px; 
			text-align: center; 
			line-height: 110px; 
			}
#header h2 a { 
			color: #000; 
			}
#header h3 { 
				text-align: center; 
				font-family: 'La Belle Aurore', cursive; 
				font-size: 24px; 
				margin-bottom: 20px; 
				font-weight: normal; 
			}
#header .contenedor	{
				width: 850px;
				text-align: left;
				margin: auto;
				height: 300px;

	
			}
#header .lateral	{
				width: 180px;
				float: left;
			
			}
#header .principal	{
				margin-left: 270px;

	
			}
#header .principal h1 {
					font-family: 'Ubuntu', sans-serif;
					font-size: 21px; 
					width: 100%; 
					height: 100%; 
					color: #000; 
					line-height: 60px;
					margin: inherit;
	
			}
#header .boton a {
				-moz-border-bottom-colors: none;
   				-moz-border-left-colors: none;
    			-moz-border-right-colors: none;
    			-moz-border-top-colors: none;
    			background-color: #F5F5F5;
    			background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    			background-repeat: repeat-x;
    			border-color: #CCCCCC #CCCCCC #BBBBBB;
    			border-image: none;
    			border-radius: 4px 4px 4px 4px;
    			border-style: solid;
    			border-width: 1px;
    			box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    			color: #333333;
    			cursor: pointer;
    			display: inline-block;
    			font-size: 13px;
    			line-height: 18px;
    			margin-bottom: -33px;
    			margin-left: 385px;
    			padding: 4px 10px;
    			text-align: center;
    			text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    			vertical-align: middle;
    			

				
			}	
#header .boton a:HOVER {
				background-color: #E6E6E6;
    			background-position: 0 -15px;
    			color: #333333;
    			text-decoration: none;
    			transition: background-position 0.1s linear 0s;

	
			}			
#header .boton a:FOCUS  {
    outline: thin dotted #333333;
    outline-offset: -2px;
}			
							
	
.main-col { width: 700px; display: inline-block; float: left; border-right: 1px solid #ccc; padding: 20px; margin-bottom: 20px; }
.sidebar { width: 239px; padding: 10px; display: inline-block; }

.main-col a { color: #F48A00; }
.main-col h1,
.main-col h2
    { 
    line-height: 1.2em; 
    font-size: 32px; 
    margin-bottom: 10px; 
    font-weight: normal; 
    color: #0088CC; 
    }
.main-col p { line-height: 1.5em; margin-bottom: 20px; }

#footer { border-top: 1px solid #ccc; clear: both; text-align: center; padding: 10px; color: #aaa; }


