{# empty Twig template #}
{% extends 'ReneBlogBundle::base.html.twig' %}

{% block title %}Agregar Comentario{% endblock%}

{% block body %}
    <h1>Agregar comentario para el post "{{ comment.blog.title }}"</h1>
    {% include 'ReneBlogBundle:Comment:form.html.twig' with { 'form': form } %}
{% endblock %}